{% extends "base.html" %}

{% block content %}
    <h1 class="page-header">Contributing</h1>
    <p>If you like The Film Log and are intersted in helping out,
    there are a number of ways to do so, such as:
    <h2>Making a Monetary Donation</h2>
    <p>This helps cover the monthly hosting fees for the public website,
       keeps the website ad-free and also helps cover my time to
       work on new features. Occasionally I also need to purchase 
       materials to help test or improve a new or existing feature 
       and this would help here as well.</p>
    <p>The important takeaway is I want the film log to be free.
       The codebase itself is open source, though maintaining the
       public website does have recurring costs. The public website
       avoids folks needing to run their own version on theier
       own server (be it on a Raspberry Pi or on a cloud server).</p>
    <p>Donate Link Goes Here</p>
    <h2>Buying a Print</h2>
    <p>Instead of making a straight up donation, you can also buy
       one of my prints, which are available
       <a href="https://www.bitbybitphoto.com/black-and-white">here</a>.
       If you want to make sure the proceeds go towards The Film
       Log, be sure to mention that in the order comments.</p>
    <h2>Log a Bug / Feature</h2>
    <p>See something on the website which is busted? Consider logging
        a bug or putting in a feature request, which you can do by
        going to the GitLab project, 
       <a href="https://gitlab.com/m00dawg/FilmLog/issues">here</a>.</p>
           
    <h2>Contributing To Development</h2>
    <p>If you are a designer, developer, etc. you can contribute
       to The Film Log project directly. The code is all open 
       source (GPLv3) and is available on
       <a href="https://gitlab.com/m00dawg/FilmLog">GitLab</a>.
       The core technologies used are Python (Flask), MariaDB,
       JavaScript/jQuery, and CSS/HTML. A full mobile app is 
       planned though not currently being developed.</p>

{% endblock %}
