[app]
testing=False
debug=False

[session]
secret_key = FILLMEIN
server_name="filmlog"

[database]
url=mysql+mysqldb://user:pass@host/db?charset=utf
pool_recycle=3600
pool_size=10
pool_pre_ping=True

[kafka]
enabled=False
topic=FilmLog
bootstrap_servers=localhost:9092

[logging]
use_flask=True
use_kafka=False
kafka_key=AppLog

[files]
user_files=files
thumbnail_size=480

[recaptcha]
public_key = abcd
private_key = abcd
