[app]
testing=False

[session]
secret_key = FILLMEIN
server_name="filmlog"

[database]
url=mysql+mysqldb://user:pass@host/db?charset=utf
pool_recycle=3600

[files]
user_files=files
thumbnail_size=480

[recaptcha]
public_key = "abcd"
private_key = "abcd"
