{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/films/stock.js"></script>
{% endblock %}

{% block content %}
<div class="row">
{% include "films/sidebar.html" %}
<div class="col-md-10 main">
  <h1 class="page-header">Film Stock</h1>
  <div id="film35mm"></div>
  <div id="filmMediumFormat"></div>
  <div id="filmSheets"></div>

  <div class="card">
    <div class="card-header">Add Filmstock</div>
    <div class="card-body">
      {{ form_errors(form) }}
      <form role="form" class="form-horizontal"
        action="/films/stock"
        method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          <div class="col-sm-4">
            {{ form.filmTypeID.label }}
            {{ form.filmTypeID(class="form-control") }}
          </div>
          <div class="col-sm-2">
            {{ form.filmSizeID.label }}
            {{ form.filmSizeID(class="form-control") }}
          </div>
          <div class="col-sm-2">
            {{ form.qty.label }}
            {{ form.qty(class="form-control") }}
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" name="button" value="add" action="submit" >Add</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  </div>

{% endblock %}
