{% extends "base.html" %}

{% block scripts %}
<script src="/static/include/chart/Chart.bundle.min.js"></script>
<script src="/static/js/films/tests.js"></script>
{% endblock %}

{% block content %}
<div class="row">
{% include "films/sidebar.html" %}
<div class="col-md-10 main">
  <h1 class="page-header">Film Tests</h1>

  <h3>Test Curves</h3>
  <div class="card">
    <canvas id="hdCurves" width="400" height="200"></canvas>
  </div>
  <br />
  <h3>All Tests</h3>
  <div class="card">
    <table class="table table-striped table-bordered" id="films">
      <thead class="thead-light">
        <tr>
          <th>Film</th>
          <th>Film Size</th>
          <th>Developer</th>
          <th>Dev Time</th>
          <th>Base Fog</th>
          <th>dMax</th>
          <th>Gamma</th>
          <th>CI</th>
          <th>Kodak ISO</th>
          <th>Tested On</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="filmTestsTableBody"></tbody>
    </table>
  </div>

</div>
</div>

{% endblock %}
