{% extends "base.html" %}

{% block content %}

  {% include 'film/film_details.html' %}

  <div class="card">
    <table class="table table-striped-by-two table-bordered" id="exposures">
      <tr>
        <th>Exposure</th>
        <th>Type</th>
        <th>Size</th>
        <th>Paper</th>
        <th></th>
      </tr>
      {% for print in prints %}
        <tr>
          <td>
            <a href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints/{{ print.printID }}">
              {{ print.exposureNumber }}
            </a>
          </td>
          <td>{{ print.printType }}</td>
          <td>{{ print.size }}</td>
          <td>{{ print.paperbrand }} {{ print.paperName }}</td>
          <td>
            {% if print.paperDeveloperName %}
              {{ print.paperDeveloperName }} 1:{{ print.paperDeveloperDilution }}</td>
            {% endif %}
          </td>

          <td class="text-right">
            <form role="form" class="form-horizontal"
              action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints/{{ print.printID }}"
              method="GET">
              {{ form.csrf_token }}
              <button name="button" value="editPrint" action="submit" class="btn btn-xs btn-success">Edit</button>
            </form>
            <form role="form" class="form-horizontal"
              action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints/{{ print.printID }}"
              method="POST">
              {{ form.csrf_token }}
              <button name="button" value="deletePrint" action="submit" class="btn btn-xs btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            {% if print.fileID %}
              <a href="/files/full/{{ print.fileID }}">
                <img class="img-fluid mx-auto d-block" src="/files/thumb/{{ print.fileID }}" />
              </a>
            {% else %}
              <p>No Image</p>
            {% endif %}
          </td>
          {% if print.notes %}
            <td colspan="3"><pre>{{ print.notes }}</pre></td>
          {% else %}
            <td colspan="3">&nbsp;</td>
          {% endif %}
        </tr>
      {% else %}
        <tr><td colspan="6">No Prints Made</td</tr>
      {% endfor %}
    </table>
</div>

<div class="card">
  <div class="card-header">Add Print</div>
    <div class="card-body">
      {% include 'form_errors.html' %}
      <form role="form" class="form-horizontal"
        action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints"
        method="POST"
        enctype=multipart/form-data>
        {{ form.csrf_token }}
        {% include 'darkroom/print_form.html' %}
        <div class="button-bar">
          <button class="btn btn-success" name="button" value="addPrint" action="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if film.notes %}
<div class="card">
  <div class="card-header">Notes</div>
  <div class="filmNotes">
    {{ film.notes }}
  </div>
</div>
{% endif %}

{% endblock %}
