<div class="form-group row">
  <div class="col-sm-2">
    {{ form.exposureNumber.label }}
    {{ form.exposureNumber(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.paperID.label }}
    {{ form.paperID(class="form-control") }}
  </div>
  <div class="col-sm-2">
    {{ form.paperFilterID.label }}
    {{ form.paperFilterID(class="form-control") }}
  </div>
  <div class="col-sm-2">
    {{ form.printType.label }}
    {{ form.printType(class="form-control") }}
  </div>
  <div class="col-sm-2">
    {{ form.size.label }}
    {{ form.size(class="form-control") }}
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-2">
    {{ form.enlargerLensID.label }}
    {{ form.enlargerLensID(class="form-control") }}
  </div>
  <div class="col-sm-2">
    {{ form.enlargerID.label }}
    {{ form.enlargerID(class="form-control") }}
  </div>
  <div class="col-sm-2">
    {{ form.nd.label }}
    {{ form.nd(class="form-control", placeholder="0") }}
  </div>
  <div class="col-sm-2">
    {{ form.aperture.label }}
    {{ form.aperture(class="form-control", placeholder="2.8") }}
  </div>
  <div class="col-sm-2">
    {{ form.headHeight.label }}
    {{ form.headHeight(class="form-control", placeholder="24") }}
  </div>
  <div class="col-sm-2">
    {{ form.exposureTime.label }}
    {{ form.exposureTime(class="form-control", placeholder="0:30") }}
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    {{ form.notes.label }}
    {{ form.notes(class="form-control") }}
  </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
      {% if print_details is defined %}
        {% if print_details.fileID %}
          <a href="/files/full/{{ print_details.fileID }}">
            <img class="img-fluid mx-auto d-block" src="/files/thumb/{{ print_details.fileID }}" />
          </a>
        {% else %}
          <p>No Image</p>
        {% endif %}
        <input type="hidden" name="fileID" value="{{ print_details.fileID }}" >
      {% endif %}
        <label>File (JPG)</label>
        <input type=file name=file>
    </div>
</div>
