{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/camera.js"></script>
{% endblock %}

{% block content %}
<div class="row">
{% include "gear/sidebar.html" %}
<div class="col-11">
  <h1 class="page-header"><span id="cameraName"></span></h1>
  <ul>
    <li><strong>Status:</strong> <span id="status"></span></li>
    <li><strong>Film Size:</strong> <span id="filmSize"></span></li>
    <li><strong>Film Loaded:</strong> <span id="filmLoadedName"></span> <span id="filmLoadedISO"></span></li>
    <li><strong>Integrated Shutter:</strong> <span id="integratedShutter"></span></li>
  </ul>

  <div id="noteDiv">
    <h3>Notes</h3>
    <div class="notes" id="notes"></div>
  </div>

  <h3>Lenses</h3>
  <ul id="lenses"></ul>

  <div id="shutterSpeedsDiv" hidden>
    <h3 id="shutterSpeedsHeader">Shutter Speeds</h3>
    <table class="table table-striped table-bordered" id="shutterSpeedsTable">
      <thead class="thead-light">
        <tr>
          <th>Speed</th>
          <th>Measured Speed</th>
          <th>Ideal Microseconds</th>
          <th>Measured Microseconds</th>
          <th>Stops</th>
        </tr>
      </thead>
      <tbody id="shutterSpeedsTableBody"></tbody>
    </table>
  </div>

  <div>
    <a href="/gear/camera/{{ camera.cameraID}}?print=true">
      <button type="button" class="btn btn-sm btn-primary">Print</button>
    </a><br /><br />
  </div>

  <div class="card">
    <div class="card-header">Load Film</div>
    <div class="card-body">
      <form method="post" action="#" id="loadFilmForm">
        <div class="form-group">
          <div class="col-sm-6">
            <label for="filmType">Film</label>
            <select id="filmType" class="form-control" ></select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="button-bar">
              <button class="btn btn-success" name="loadButton" action="submit" value="load">Load</button>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>

  <div class="card">
    <div class="card-header">Edit Camera</div>
    <div class="card-body">
      {{ form_errors(camera_form) }}
      <form role="form" class="form-horizontal"
        action="/gear/camera/{{ camera.cameraID }}"
        method="POST">
        {{ camera_form.csrf_token }}
        <div class="form-group">
          <div class="col-sm-3">
            {{ camera_form.name.label }}
            {{ camera_form.name(class="form-control", placeholder="Minolta X-700") }}
          </div>
          <div class="col-sm-3">
            {{ camera_form.filmSize.label }}
            {{ camera_form.filmSize(class="form-control") }}
          </div>
          <div class="col-sm-3">
              {{ camera_form.status.label }}
              {{ camera_form.status(class="form-control") }}
          </div>
          <div class="col-sm-3">
              {{ camera_form.lenses.label }}
              {{ camera_form.lenses(class="custom-control list-unstyled") }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
              {{ camera_form.notes.label }}
              {{ camera_form.notes(class="form-control") }}
          </div>
        </div>


        <div class="button-bar">
          <button class="btn btn-success" name="button" action="submit" value="editCamera">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
