{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/camera.js"></script>
{% endblock %}

{% block content %}
<div class="row">
{% include "gear/sidebar.html" %}
<div class="col-11">

  <h1 class="page-header"><span id="cameraName"></span></h1>
  <ul>
    <li><strong>Status:</strong> <span id="status"></span></li>
    <li><strong>Film Size:</strong> <span id="filmSize"></span></li>
    <li><strong>Integrated Shutter:</strong> <span id="integratedShutter"></span></li>
  </ul>

  <h3>Lenses</h3>
  <ul id="lenses"></ul>

  <div id="shutterSpeedsDiv" hidden>
    <h3 id="shutterSpeedsHeader">Shutter Speeds</h3>
    <table class="table table-striped table-bordered" id="shutterSpeedsDiv">
      <thead class="thead-light">
        <tr>
          <th>Speed</th>
          <th>Measured Speed</th>
          <th>Ideal Microseconds</th>
          <th>Measured Microseconds</th>
          <th>Stops</th>
        </tr>
      </thead>
      <tbody id="shutterSpeedsTableBody"></tbody>
    </table>
  </div>

  <div class="card">
    <div class="card-header">Edit Camera</div>
    <div class="card-body">
      {{ form_errors(camera_form) }}
      <form role="form" class="form-horizontal"
        action="/gear/camera/{{ camera.cameraID }}"
        method="POST">
        {{ camera_form.csrf_token }}
        <div class="form-group">
          <div class="col-sm-3">
            {{ camera_form.name.label }}
            {{ camera_form.name(class="form-control", placeholder="Minolta X-700") }}
          </div>
          <div class="col-sm-3">
            {{ camera_form.filmSize.label }}
            {{ camera_form.filmSize(class="form-control") }}
          </div>
          <div class="col-sm-3">
              {{ camera_form.status.label }}
              {{ camera_form.status(class="form-control") }}
          </div>
          <div class="col-sm-3">
              {{ camera_form.lenses.label }}
              {{ camera_form.lenses(class="custom-control list-unstyled") }}
          </div>
        </div>

        <div class="button-bar">
          <button class="btn btn-success" name="button" action="submit" value="editCamera">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
