{% extends "base.html" %}

{% block content %}
<div class="row">
  {% include "gear/sidebar.html" %}
  <div class="col-10">
    <h1 class="page-header">Film Holder</h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <td>{{ holder.name }}</td>
        <th>Size</th>
        <td>{{ holder.size }}</td>
      </tr>
      <tr>
        <th>State</th>
        <td>{{ holder.state }}</td>
        <th>Film</th>
        <td>
          {% if holder.filmTypeID %}
          {{ holder.filmBrand }} {{ holder.filmName }} {{ holder.filmISO }}
          {% endif %}
        </td>
      </tr>
    </table>

    <table class="table">
      <tr>
        <th>Loaded</th>
        <td>{{ holder.loaded }}</td>
        <th>Unloaded</th>
        <td>{{ holder.unloaded }}</td>
        <th>Exposed</th>
        <td>{{ holder.exposed }}</td>
      </tr>
    </table>

    <div class="card my-4">
      <div class="card-header"><strong>Notes</strong></div>
      <div class="card-body"><pre class="holderNotes">{{ holder.notes }}</pre></div>
    </div>

    <div class="card">
      <div class="card-header">Update Film Holder</div>
      <div class="card-body">
        {{ form_errors(form) }}
        <form role="form" class="form-horizontal"
          action="/gear/holders/{{ holder.holderID }}"
          method="POST">
          {{ form.csrf_token }}
          <div class="form-group row">
            <div class="col-sm-6">
              {{ form.name.label }}
              {{ form.name(class="form-control") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              {{ form.size.label }}
              {{ form.size(class="form-control") }}
            </div>
            <div class="col-sm-4">
              {{ form.compensation.label }}
              {{ form.compensation(class="form-control", placeholder="1, -1") }}
            </div>
            <div class="col-sm-4">
              {{ form.iso.label }}
              {{ form.iso(class="form-control") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              {{ form.notes.label }}
              {{ form.notes(class="form-control") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
              {{ form.filmTypeID.label }}
              {{ form.filmTypeID(class="form-control") }}
            </div>
          </div>
          <div class="button-bar">
            <button class="btn btn-success" name="button" value="updateHolder" action="submit">Update</button>
            <button class="btn btn-danger" name="button" value="loadHolder" action="submit">Update &amp; Load</button>
          </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}
