{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/holders.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  {% include "gear/sidebar.html" %}
  <div class="col-11 main">
    <h1 class="page-header">Film Holders</h1>
    <div>
    <table class="table table-striped table-bordered" id="holdersTable">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Film</th>
          <th>State</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="holdersTableBody"></tbody>
    </table>
    <a href="/gear/holders?print=true">
      <button type="button" class="btn btn-primary">Print</button>
    </a><br /><br />
    </div>

    <div class="card">
      <div class="card-header">Add Film Holder</div>
      <div class="card-body">
        <form method="post" action="#" id="holderForm">
          <div class="form-group">
            <div class="col-sm-6">
              <label for="holderName">Name</label>
              <input type="text" class="form-control" id="holderName"
                     maxlength="64" placeholder="Holder 1" />
            </div>
            <div class="col-sm-6">
              <label for="holderSize">Size</label>
              <select name="size" class="form-control" id="holderSize">
                <option value="4x5">4x5</option>
                <option value="5x7">5x7</option>
                <option value="8x10">8x10</option>
                <option value="11x14">11x14</option>
              </select>
            </div>
            <div class="col-sm-12">
              <label for="holderNotes">Notes</label>
              <textarea class="form-control" id="holderNotes" rows="4" columns="40"></textarea>
            </div>
          </div>
          <div class="button-bar">
            <button class="btn btn-success" type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
