{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/holders.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  {% include "gear/sidebar.html" %}
  <div class="col-10">
    <h1 class="page-header">Film Holders</h1>
    <table class="table table-striped table-bordered" id="holdersTable">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Film</th>
          <th>State</th>
          <th>Command</th>
        </tr>
      </thead>
      <tbody id="holdersTableBody"></tbody>
    </table>

    <div class="card">
      <div class="card-header">Add Film Holder</div>
      <div class="card-body">
        {{ form_errors(form) }}
        <form role="form" class="form-horizontal"
          action="/gear/holders"
          method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            <div class="col-sm-6">
              {{ form.name.label }}
              {{ form.name(class="form-control") }}
            </div>
            <div class="col-sm-6">
              {{ form.size.label }}
              {{ form.size(class="form-control") }}
            </div>
            <div class="col-sm-12">
              {{ form.notes.label }}
              {{ form.notes(class="form-control") }}
            </div>
          </div>
          <div class="button-bar">
            <button class="btn btn-success" name="button" value="addHolder" action="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
