{% extends "base.html" %}

{% block scripts %}
// Set the holder's state via an API call then call
// function to update HTML
function setHolderState(holderID, action){
  var state = '';
  console.log('setHolderState ' + holderID + ' : ' + action);
  var data =
  {
      "data" :
      {
        "id": holderID
      },
      "action" : action
  }

  switch (action)
  {
    case 'Unload':
      state = 'Empty';
      break;
    case 'Reload':
      state = 'Loaded';
      break;
    case 'Expose':
      state = 'Exposed';
      break;
  }

  jQuery.ajax({
    type: "PATCH",
    url: "/api/v1/holders/" + holderID,
    data: JSON.stringify(data),
    contentType: "application/json",
    dataType: "json",
    success: updateHolderState(holderID, state)
  });
}

// Update the holder's state in the UI
function updateHolderState(holderID, state)
{
  var newClass = '';
  switch (state)
  {
    case 'Empty':
      newClass = 'holderEmpty';
      break;
    case 'Loaded':
      newClass = 'holderLoaded';
      break;
    case 'Exposed':
      newClass = 'holderExposed';
      break;
  }

  $('#stateForHolderID' + holderID).removeClass();
  $('#stateForHolderID' + holderID).addClass('holderState');
  $('#stateForHolderID' + holderID).addClass(newClass);
  $('#stateForHolderID' + holderID).html(state);

  updateHolderButtons(holderID, state);
}

// Update the buttons of a holder in the UI
function updateHolderButtons(holderID, state)
{
  loadLocation = "'/gear/holders/" + holderID + "'";
  buttons = ' '
  if(state == 'Loaded')
    buttons += '<button class="btn btn-dark" name="button" value="Expose" \
                onclick="setHolderState(' + holderID + ', \'Expose\')">Expose</button> ';
  if(state == 'Loaded' || state == 'Exposed')
    buttons += '<button class="btn btn-secondary" name="button" value="Unload" \
                onclick="setHolderState(' + holderID + ', \'Unload\')">Unload</button> ';
  if(state == 'Empty')
    buttons += '<button class="btn btn-danger" name="button" value="Load" \
               onclick="location.href=' + loadLocation + '">Load</button> \
               <button class="btn btn-warning" name="button" value="Reload" \
               onclick="setHolderState(' + holderID + ', \'Reload\')">Reload</button> ';

  $('#buttonsForHolderID' + holderID).html(buttons);
}

// Make a call to pull a list of all the user's holders
jQuery.ajax({
    type: "GET",
    url: "/api/v1/holders",
    contentType: "application/json",
    dataType: "json",
    success: function(data)
    {
      jQuery(data.data).each(function(i, holder){
        var row = '<tr id="rowHolderID' + holder.id + '">';
        row += '<td><a href="/gear/holders/' + holder.id + '">' + holder.name + '</a></td>';
        row += '<td>' + holder.size + '</td>';
        row += '<td>' + holder.film + '</td>';
        row += '<td id="stateForHolderID' + holder.id + '">' + holder.state + '</td>';
        row += '<td id="buttonsForHolderID' + holder.id + '"></td></tr>';
        $('#holdersTableBody').append($(row));
        updateHolderState(holder.id, holder.state);
      });
    }
});

{% endblock %}

{% block content %}
<div class="row">
  {% include "gear/sidebar.html" %}
  <div class="col-10">
    <h1 class="page-header">Film Holders</h1>
    <table class="table table-striped table-bordered" id="holdersTable">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Film</th>
          <th>State</th>
          <th>Command</th>
        </tr>
      </thead>
      <tbody id="holdersTableBody"></tbody>
    </table>

    <div class="card">
      <div class="card-header">Add Film Holder</div>
      <div class="card-body">
        {{ form_errors(form) }}
        <form role="form" class="form-horizontal"
          action="/gear/holders"
          method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            <div class="col-sm-6">
              {{ form.name.label }}
              {{ form.name(class="form-control") }}
            </div>
            <div class="col-sm-6">
              {{ form.size.label }}
              {{ form.size(class="form-control") }}
            </div>
            <div class="col-sm-12">
              {{ form.notes.label }}
              {{ form.notes(class="form-control") }}
            </div>
          </div>
          <div class="button-bar">
            <button class="btn btn-success" name="button" value="addHolder" action="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
