{% extends "base.html" %}

{% block content %}
<div class="row">
{% include "gear/sidebar.html" %}
<div class="col-10">
<h1 class="page-header">Gear</h1>

<p>You can add gear using the links there on the left side. Over there.</p>

<h3>Cameras</h3>
<p>You can associate cameras to films (which are part of projects). You can
  also define lenses to associate with exposures. First add a Camera, then
  optionally a Lens. Then pull up the Camera details to associated lenses
  with the camera.</p>

<h3>Filters</h3>
<p>Filters are associated with exposures. These would include, for example
  a circular polarizer or a yellow filter. Which filters you add are
  entirely up to you.</p>

<h3>Enlargers</h3>
<p>Enlargers and enlarger lenses are associated with darkroom prints.</p>

<h3>Holders</h3>
<p>If you shoot large format film, you can add the holders you use. This
  will allow you to track their state (which film is loaded in them,
  etc.)<?p>

</div>
</div>

{% endblock %}
