<!DOCTYPE html>
<html lang="en">
<head>
<title>The Film Log</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="/static/style.css" rel="stylesheet" media="all">
<link href="/static/print.css" rel="stylesheet" media="all">
<link href="/static/lens-print.css" rel="stylesheet" media="all">
</head>

{% block body %}
<body>
  {% block container %}
  <div class="container-fluid print">
    {% block content %}
    <div class="row">
    <div class="col-12 lensShutterSpeeds">
      <h1>{{ lens.name }}</h1>
      {% if lens.shutter == 'Yes' %}
        <table id="shutterSpeeds">
          <tr>
            <th>Speed</th>
            <th>Actual</th>
            <th>Stops</th>
          </tr>
          {% for speed in shutter_speeds %}
            <tr
              {% if speed.differenceStops >= -0.25 and speed.differenceStops <= 0 %}
                class="shutterTestGood"
              {% elif speed.differenceStops < -0.25 and speed.differenceStops > -0.50 %}
                class="shutterTestFair"
              {% elif speed.differenceStops <= -0.50 %}
                class="shutterTestPoor"
              {% elif speed.differenceStops >= 0 and speed.differenceStops <= 0.25 %}
                class="shutterTestGood"
              {% elif speed.differenceStops > 0.25 and speed.differenceStops < 0.50 %}
                class="shutterTestFair"
              {% elif speed.differenceStops >= 0.50 %}
                class="shutterTestPoor"
              {% endif %}
            >
              <td>1/{{ speed.speed }}</td>
              <td>1/{{ speed.measuredSpeed }}</td>
              <td>{{ '%.2f' % speed.differenceStops }}</td>
            </tr>
          {% else %}
            <tr><td colspan="3">No Speeds Entered</td></tr>
          {% endfor %}
        </table>
      {% endif %}

    {% endblock %}
  </div>
  {% endblock %}
</body>
{% endblock %}
