{% extends "base.html" %}

{% block content %}
<div class="row">
{% include "gear/sidebar.html" %}
<div class="col-10">
  <h1>{{ lens.name }}</h1>
  {% if lens.shutter == 'Yes' %}
    <div>
    <h2>Shutter Speeds</h2>
    <table class="table table-bordered" id="shutterSpeeds">
      <tr>
        <th>Speed</th>
        <th>Ideal Microseconds</th>
        <th>Measured Microseconds</th>
        <th>Deviation %</th>
        <th>Stops</th>
        <th></th>
      </tr>
      {% for speed in shutter_speeds %}
        <tr
          {% if speed.differenceStops >= -0.25 and speed.differenceStops <= 0 %}
            class="shutterTestGood"
          {% elif speed.differenceStops < -0.25 and speed.differenceStops > -0.50 %}
            class="shutterTestFair"
          {% elif speed.differenceStops <= -0.50 %}
            class="shutterTestPoor"
          {% elif speed.differenceStops >= 0 and speed.differenceStops <= 0.25 %}
            class="shutterTestGood"
          {% elif speed.differenceStops > 0.25 and speed.differenceStops < 0.50 %}
            class="shutterTestFair"
          {% elif speed.differenceStops >= 0.50 %}
            class="shutterTestPoor"
          {% endif %}
        >
          <td>1/{{ speed.speed }}</td>
          <td>{{ speed.idealSpeedMicroseconds }}</td>
          <td>{{ speed.measuredSpeedMicroseconds }}</td>
          <td>{{ speed.differencePercent }}</td>
          <td>{{ speed.differenceStops }}</td>
          <td>
            <form role="form" class="form-horizontal"
              action="/gear/lens/{{ lens.lensID }}"
              method="POST">
              {{ shutter_speed_form.csrf_token }}
              <button name="button" value="deleteSpeed" action="submit" class="btn btn-sm btn-danger">Delete</button>
              <input type="hidden" name="speed" value="{{ speed.speed }}" >
            </form>
          </td>
        </tr>
      {% else %}
        <tr><td colspan="6">No Speeds Entered</td></tr>
      {% endfor %}
    </table>
    <a href="/gear/lens/{{ lens.lensID }}?print=true">
      <button type="button" class="btn btn-default btn-sm">Print</button>
    </a>
    <br />
    <br />
    </div>
  {% endif %}

  {% if lens.shutter == 'Yes' %}
  {{ form_errors(shutter_speed_form) }}
  <form role="form" class="form-horizontal"
    action="/gear/lens/{{ lens.lensID }}"
    method="POST">
    {{ shutter_speed_form.csrf_token }}
    <div class="form-group">
      <div class="col-sm-3">
          {{ shutter_speed_form.speed.label }}
          1/{{ shutter_speed_form.speed(class="form-control") }}
      </div>
      <div class="col-sm-3">
          {{ shutter_speed_form.measuredSpeedMicroseconds.label }}
          {{ shutter_speed_form.measuredSpeedMicroseconds(class="form-control") }}
      </div>
    </div>

    <div class="button-bar">
      <button class="btn btn-success" name="button" action="submit" value="addSpeed">Add Speed</button>
    </div>
  </form>
  {% endif %}
</div>

{% endblock %}
