<nav class="col-ms-1 d-none d-md-block sidebar shadow">
  <div class="sidebar-sticky">
    <ul class="nav flex-column sticky-top">
      <li class="nav-item">
        <a class="nav-link" href="/gear/cameras">
          Cameras
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gear/filters">
          Filters
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gear/enlargers">
          Enlargers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gear/holders">
          Holders
        </a>
      </li>
    </ul>
  </div>
</nav>
