{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/user/preferences.js"></script>
{% endblock %}

{% block content %}
<div class="row">
{% include "users/sidebar.html" %}
<div class="col-md-10 main">
<h1 class="page-header">User Preferences</h1>
<div class="card">
  <div class="card-header">Flags</div>
  <div class="card-body">
    <table class="table table-striped table-bordered" id="userPreferencesTable">
      <tbody id="preferencesTableBody"></tbody>
    </table>
  </div>
</div>
{% endblock %}
