{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">Developing</h1>
  <h2>Current Developers</h2>
  {% if active_developers %}
    <ul>
      {% for developer in active_developers %}
        <li><a href="/developing/developer/{{ developer.developerID }}">
          {{ developer.name }}</a> - {{ developer.type }} {{ developer.kind }}</li>
      {% endfor %}
    </ul>
  {% else %}
    None Found
  {% endif %}

  <h2>Retired Developers</h2>
  {% if retired_developers %}
    <ul>
      {% for developer in retired_developers %}
        <li><a href="/developing/developer/{{ developer.developerID }}">
          {{ developer.name }}</a> - {{ developer.type }} {{ developer.kind }}</li>
      {% endfor %}
    </ul>
  {% else %}
    None Found
  {% endif %}

  <div class="card my-4">
    <div class="card-header">Add Developer</div>
    <div class="card-body">
      {{ form_errors(developer_form) }}
      <form role="form" class="form-horizontal"
        action="/developing"
        method="POST">
        {{ developer_form.csrf_token }}
        {% include '/developing/developer_form.html' %}
        <div class="button-bar">
          <button class="btn btn-success" name="button" action="submit" value="addEnlarger">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
