{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/development/developers.js"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Developing</h1>
  <h2>Current Developers</h2>
  <ul id="activeDevelopers"></ul>

  <h2 id="retiredDevelopersHeading">Retired Developers</h2>
  <ul id="retiredDevelopers"></ul>

  <div class="card my-4">
    <div class="card-header">Add Developer</div>
    <div class="card-body">
      {{ form_errors(developer_form) }}
      <form role="form" class="form-horizontal"
        action="/developing"
        method="POST">
        {{ developer_form.csrf_token }}
        {% include '/developing/developer_form.html' %}
        <div class="button-bar">
          <button class="btn btn-success" name="button" action="submit" value="addEnlarger">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
