{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">Developing</h1>
  <h2>Current Developers</h2>
  {% if active_developers %}
    <ul>
      {% for developer in active_developers %}
        <li><a href="/developing/developer/{{ developer.developerID }}">
          {{ developer.name }}</a> - {{ developer.type }} {{ developer.kind }}</li>
      {% endfor %}
    </ul>
  {% else %}
    None Found
  {% endif %}

  <h2>Retired Developers</h2>
  {% if retired_developers %}
    <ul>
      {% for developer in retired_developers %}
        <li><a href="/developing/developer/{{ developer.developerID }}">
          {{ developer.name }}</a> - {{ developer.type }} {{ developer.kind }}</li>
      {% endfor %}
    </ul>
  {% else %}
    None Found
  {% endif %}

  <div class="card my-4">
    <div class="card-header">Add Developer</div>
    <div class="card-body">
      {{ form_errors(developer_form) }}
      <form role="form" class="form-horizontal"
        action="/developing"
        method="POST">
        {{ developer_form.csrf_token }}
        <div class="form-group row">
          <div class="col-sm-4">
            {{ developer_form.name.label }}
            {{ developer_form.name(class="form-control", placeholder="Tetenol C-41 Kit") }}
          </div>
          <div class="col-sm-2">
            {{ developer_form.mixedOn.label }}
            {{ developer_form.mixedOn(class="form-control", placeholder="YYYY-MM-DD HH:MM:SS") }}
            <small id="mixedOnHel" class="form-text text-muted">Leave blank to use current time</small>
          </div>
          <div class="col-sm-2">
            {{ developer_form.capacity.label }}
            {{ developer_form.capacity(class="form-control", placeholder="1000") }}
            <small id="mixedML" class="form-text text-muted">In milliliters</small>
          </div>
          <div class="col-sm-2">
            {{ developer_form.type.label }}
            {{ developer_form.type(class="form-control") }}
          </div>
          <div class="col-sm-2">
            {{ developer_form.kind.label }}
            {{ developer_form.kind(class="form-control") }}
          </div>
          <div class="col-sm-2">
            {{ developer_form.state.label }}
            {{ developer_form.state(class="form-control", placeholder="70") }}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            {{ developer_form.notes.label }}
            {{ developer_form.notes(class="form-control", placeholder="Notes") }}
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" name="button" action="submit" value="addEnlarger">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
