{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/film.js"></script>
{% endblock %}

{% block content %}

  {% include 'film/film_details.html' %}

  {% if exposures %}
  <div class="card">
      <table class="table table-striped-by-two table-bordered" id="exposures">
      <tr>
        <th>Number</th>
        <th>Shutter</th>
        <th>Aperture</th>
        <th class="table120Lens">Lens</th>
        <th class="table120Metering">Metering</th>
        <th class="table120Flash">Flash</th>
        <th class="table35Filters">Filters</th>
        <th></th>
      </tr>
      {% for exposure in exposures %}
        <tr>
          <td>{{ exposure.exposureNumber }}</td>
          <td>{{ exposure.shutter | format_shutter }}</td>
          <td>
            {% if exposure.aperture %}
              {{ exposure.aperture }}
            {% endif %}
          </td>
          <td class="table120Lens">
            {% if exposure.lens %}
              {{ exposure.lens }}
            {% endif %}
          </td>
          <td class="table120Metering">
            {% if exposure.metering %}
                {{ exposure.metering }}
            {% endif %}
          <td class="table120Flash">
            {% if exposure.flash == 'No' %}
              -
            {% else %}
              &#x2713;
            {% endif %}
          </td>
          <td class="table120Filters">
            {% for filter in exposure.filters %}
              {{ filter.code }}
            {% endfor %}
          </td>
          {% include 'film/exposurebuttons.html' %}
        </tr>
        <tr class="table120Notes">
          {% if exposure.notes %}
            <td class="table120Notes" colspan="6">{{ exposure.notes }}</td>
          {% else %}
            <td class="table120Notes" colspan="6">&nbsp;</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

{% include 'film/add_exposure.html' %}

{% include 'film/film_notes.html' %}

{% endblock %}
