
<div class="page-header">
  <h1>
    {{ film.title }} <small class="text-muted">{{ film.project }}</small>
    {% if not print_view %}
      <a href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}?edit=true">
        <button type="button" class="btn btn-primary btn-sm">Edit</button>
      </a>
      <a href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}?print=true">
        <button type="button" class="btn btn-default btn-sm">Print</button>
      </a>
    {% endif %}
  </h1>
</div>

<div class="card border-0">
  <div class="card-header border-0">Overview</div>
  <div class="card-body">
    <div class="row border-bottom py-2">
      <div class="col-md-2"><strong>Camera</strong></div>
      <div class="col-md-2">{{ film.camera }}</div>
      <div class="col-md-2"><strong>File Date</strong></div>
      <div class="col-md-2">{{ film.fileDate|to_date }}</div>
      <div class="col-md-2"><strong>File No</strong></div>
      <div class="col-md-2">{{ film.fileNo }}</div>
    </div>

    {% if film.filmName %}
      <div class="row border-bottom py-2">
        <div class="col-md-2"><strong>Film</strong></div>
        <div class="col-md-2">
          {% if film.filmName %}
            {{ film.brand }} {{ film.filmName }}
          {% else %}
            Unknown
          {% endif %}
        </div>
        <div class="col-md-2"><strong>Size</strong></div>
        <div class="col-md-2">{{ film.size }}</div>
        <div class="col-md-2"><strong>ISO</strong></div>
        <div class="col-md-2">{{ film.filmISO }}, shot at {{ film.shotISO }}</div>
      </div>
    {% endif %}

    <div class="row border-bottom py-2">
      <div class="col-md-2"><strong>Loaded</strong></div>
      <div class="col-md-2">{{ film.loaded|to_date }}</div>
      <div class="col-md-2"><strong>Unloaded</strong></div>
      <div class="col-md-2">{{ film.unloaded|to_date }}</div>
      <div class="col-md-2"><strong>Development</strong></div>
      <div class="col-md-2">{{ film.developed|to_date }}</div>
    </div>

    {% if film.development %}
    <div class="row border-bottom py-2">
      <div class="col-md-2"><strong>Development</strong></div>
      <div class="col-md-10">{{ film.development }}</div>
    </div>
    {% endif %}
  </div>
</div>
<br />
<br />

<div>
  {% if not print_view %}
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link {% if view =='exposures' %} active {% endif %} " href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}">Exposures</a></li>
      <li class="nav-item"><a class="nav-link {% if view == 'prints' %} active {% endif %}" href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints">Darkroom Prints</a></li>
      <li class="nav-item"><a class="nav-link {% if view == 'contactsheet' %} active {% endif %}" href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/contactsheet">Contact Sheet</a></li>
    </ul>
  {% endif %}
</div>
