{% extends "base.html" %}

{% block scripts %}
// Make a call to pull a list of all the user's holders
jQuery.ajax({
    type: "GET",
    url: "/api/v1/filmstock",
    contentType: "application/json",
    dataType: "json",
    success: buildStocks
});

// Build out the film stocks to produce tables
function buildStocks(data)
{
  var film35mm = [];
  var filmMediumFormat = [];
  var filmSheets = [];
  var size;

  // Split out film into groups by size
  jQuery(data.data).each(function(i, stock){
    size = stock.size;
    if (size.startsWith("35mm"))
      film35mm.push(stock);
    else if (size == '120' || size == '220')
      filmMediumFormat.push(stock);
    else if (size == '4x5')
      filmSheets.push(stock);
  });

  buildFilmStockTable('35mm', 'film35mm', film35mm);
  buildFilmStockTable('Medium Format', 'filmMediumFormat', filmMediumFormat);
  buildFilmStockTable('Sheets', 'filmSheets', filmSheets);
}

function buildFilmStockTable(title, div, stock)
{
  var filmType;
  var tableID = "table" + div;
  var tableBodyID = "tableBody" + div;

  if(title == 'Sheets')
    filmType = 'Sheets';
  else
    filmType = 'Rolls';

  $('#' + div).append($('<h3>' + title + '</h3>'));
  $('#' + div).append($('<table class="table table-striped table-bordered" id="' + tableID + '"></table>'));
  $('#' + tableID).append($('<thead class="thead-light"><th>Film</th><th>ISO</th><th>Size</th><th>' + filmType + '</th></thead>'));
  $('#' + tableID).append($('<tbody id="' + tableBodyID + '"></tbody>'));

  jQuery(stock).each(function(i, item){
    var row = '<tr>';
      row += '<td>' + item.brand + ' ' + item.type + '</td>';
      row += '<td>' + item.iso + '</td>';
      row += '<td>' + item.size + '</td>';
      row += '<td>' + item.qty + '</td>';
      row += '</tr>';
    $('#' + tableBodyID).append($(row));
  });

}


{% endblock %}

{% block content %}
  <h1 class="page-header">Film Stock</h1>
  <div id="film35mm"></div>
  <div id="filmMediumFormat"></div>
  <div id="filmSheets"></div>

  <div class="card">
    <div class="card-header">Add Filmstock</div>
    <div class="card-body">
      {{ form_errors(form) }}
      <form role="form" class="form-horizontal"
        action="/filmstock"
        method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          <div class="col-sm-4">
            {{ form.filmTypeID.label }}
            {{ form.filmTypeID(class="form-control") }}
          </div>
          <div class="col-sm-2">
            {{ form.filmSizeID.label }}
            {{ form.filmSizeID(class="form-control") }}
          </div>
          <div class="col-sm-2">
            {{ form.qty.label }}
            {{ form.qty(class="form-control") }}
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" name="button" value="add" action="submit" >Add</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
