pre{
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

body{
  font-size: 11pt;
}

a{
  color: #3c4053;
  font-weight: bold;
}

a:hover{
  color: #2a429d;
}

.navbar{
  width: 100%;
}

.sidebar {
  background-color: #dddddd;
  display: block !important;
  left: 0;
  padding-top: 1%;
}

.sidebar a{
  color: #3c4053;
}

.sidebar a:hover{
  color: #1e212e;
  font-weight: bold;
}

.main{
  min-height: 100%;
}

.page-header{
  margin-top: 1%;
}

.card-header{
  border: 0;
  font-size: 1.25em;
  font-weight: bold;
}

.notes{
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.filmNotes .holderNotes{
  margin-left: 4px;
  margin-right: 4px;
  white-space: pre-wrap;
}

.filmStockZero{
  color: #440000;
  font-weight: bold;
}

.filmStockNegative{
  color: #bb0000;
  font-weight: bold;
}

.holderEmpty{
  background-color: #eeffee;
  color: #000000;
}

.holderLoaded{
  background-color: #ffffff;
  color: #000000;
}

.holderExposed{
  background-color: #000000;
  color: #ffffff;
}

.developerRetired{
  color: #ff4444;
  font-weight: bold;
}

.shutterTestGood{
  background-color: #ddffdd !important;
  font-weight: bold;
}

.shutterTestFair{
  background-color: #ffffdd !important;
  font-weight: bold;
}

.shutterTestPoor{
  background-color: #ffdddd !important;
  font-weight: bold;
}


.table-striped-by-two tr:nth-child(4n+1) {
  background-color: #f9f9f9;
}

.table-striped-by-two tr:nth-child(4n+4) {
  background-color: #f9f9f9;
}

.contribute{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Special div to make alignment work for printing, particularly large format
   sheets where the information for each exposure is varied resulting in a
   varied height. */
.flexrow{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexrow .col-md-4{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* End special div */

.alert-fixed {
    border-radius: 0;
    left: 2.5%;
    position:fixed;
    top: 5%;
    width: 50%;
    z-index:9999;
}

/* Mobile */
@media (max-width: 992px) {
  html{
    font-size: 0.75em;
  }

  .sidebar{
    display: flex !important;
    width: 100%;
  }

  .table35Lens, .table35Flash, .table35Notes, .table35Filters{
    display: none;
  }

  .table120Lens, .table120Flash, .table120Metering, .table120Filters, .table120Notes{
    display: none;
  }


}
